<!-- SIDE NAV -->
<body class="s-lg-guide-body">
    {{skip_link}}
    {{ADMIN_CMD_BAR}}
    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->
    <!-- BEGIN: Guide Header -->
      <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders">
        <div id="s-lib-bc">
            <div class="container">

<div  class="container" style=" background-color: #eee; margin-bottom:45px; width: 99.6vw; margin-left: calc(-50vw + 50%);">

<div class="col-md-12" style="background-color: #eee;">
<div class="container">
<div style="font-size: 18px; letter-spacing:-0.5px;" id="TheHours"></div>
    <!-- Custom code here for our hours display on the homepage -->
    <!-- You can include your custom code here as well or leave blank-->
</div>
</div>

</div>

<div class="row" style="margin-top:15px; margin-bottom:-40px;">
{{content_col_9}}
</div>

           

        </div>
        </div>
               <div class="pull-right">
            <div id="s-lg-guide-header-search">
            </div>
            {{ADMIN_MINI_CMD_BAR}}
        </div>
        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}</h1>
            <div id="s-lg-guide-desc-container">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Header -->
   
<!--Four Section in Main Content area-->    
<div id="s-lg-side-nav-content" class="container s-lib-side-borders pad-top-med">
<div class="container">
  <div class="row">
    <!--Top Databases / Quick Links / Computers / Study Spaces area-->
    <div class="col-xs-12 col-md-3 col-sm-6"> {{content_col_1}} </div> 
    <div class="col-xs-12 col-md-3 col-sm-6"> {{content_col_2}} </div>
    <div class="col-xs-12 col-md-3 col-sm-6"> {{content_col_4}} </div>
    <div class="col-xs-12 col-md-3 col-sm-6"> {{content_col_5}} </div>
  </div>

  <!--Two Section in Main Content area-->  
  <div class="row">
      <!-- News Events Section & Accordion , Give to Libraries Sections -->
    <div class="col-md-6"> {{content_col_6}}</div>
    <div class="col-md-6"> {{content_col_8}} </div>
  </div>
</div>
</div>


    <!-- BEGIN: Page Footer -->
    <div id="s-lib-footer-public" class="s-lib-footer footer container  s-lib-side-borders">
        <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
            <ul id="s-lg-guide-header-attributes" class="">
                <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                    {{last_updated_display}}                    </li>
                <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                    {{guide_url_display}}
                </li>
                <li id="s-lg-guide-print-url">
                    {{print_url_display}}
                </li>	
                </ul>
            <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                {{login_url_display}}                </div>
        </div>
        <div class="pad-bottom-sm clearfix">
            <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                <a href="mailto:">Report a problem</a> <!--Include support email here-->
            </div>
            <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                {{guide_subjects}}
            </div>
            <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                {{guide_tags}}
            </div>
        </div>
    </div>
    <!-- END: Page Footer -->
    
        <div id="s-lib-scroll-top">
            <a href="javascript:void(0);" onclick="jQuery('html, body').animate({scrollTop: 0}, 750);" title="Back to Top" aria-label="Back to Top"
            aria-hidden="true">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
                </span>
            </a>
        </div>        <div id="s-lib-alert" title="">
                        <div id="s-lib-alert-content"></div>
                   </div>
            <!-- BEGIN: Custom Footer -->
            {{public_footer}}
    <!-- END: Custom Footer -->
</body>