<body class="s-lib-public-body">
    {{skip_link}}
    <!-- BEGIN: Page Header -->
        {{public_header}}
    <!-- END: Page Header -->
    <!-- BEGIN: Content Header -->
    <div id="s-lib-public-header" class="s-lib-header container s-lib-side-borders">
        <div id="s-lib-bc">
            {{breadcrumbs}}
        </div>
        <h1 id="s-lib-public-header-title">{{title}}
</h1>
        <div id="s-lib-public-header-desc">{{system_intro}}
</div>
    </div>
    <!-- END: Content Header -->
    <!-- BEGIN: Nav Bar -->
    <div id="s-lib-public-nav" class="container s-lib-side-borders">
        {{page_nav}}
    </div>
    <!-- END: Nav Bar -->
    <!-- BEGIN: content -->
    <div id="s-lib-public-main" class="s-lib-main container s-lib-side-borders">
        <div  id="s-lg-index-cols"  class="row">
            <div  id="col2"  class="col-md-3 center">
                {{content_boxes}}
            </div>
            <div  id="col1"  class="col-md-9 center">
                <div class="clearfix">
                    {{guide_list_controls}}
                </div>
                <div id="s-lg-index-list" class="">
                    {{content}}
                </div>
            </div>

        </div>
    </div>
    <!-- END: content -->
    <!-- BEGIN: Page Footer -->
    {{system_footer}}
    <!-- END: Page Footer -->
    <div id="s-lib-alert" title="">
                        <div id="s-lib-alert-content"></div>
                   </div>        
            <div id="s-lib-popover-title" class="hide">
                <span class="text-info"><strong>title</strong></span>
                <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">&times;</button>
            </div>
            <div id="s-lib-popover-content" class="hide"><i class="fa fa-refresh fa-spin"></i> Loading...
                <button class="btn btn-default btn-sm popclose" type="button">Close</button>
            </div>        
        <div id="s-lib-scroll-top">
            <a href="javascript:void(0);" onclick="jQuery('html, body').animate({scrollTop: 0}, 750);" title="Back to Top" aria-label="Back to Top"
            aria-hidden="true">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
                </span>
            </a>
        </div>        <!-- BEGIN: Custom Footer -->
    {{public_footer}}
    <!-- END: Custom Footer -->
</body>